{% if inventory_hostname == mysql_backup_host %}
38 21 * * * backup mysqldump agama > /home/backup/mysql/agama.sql
38 21 * * *  backup  duplicity --no-encryption full /home/backup/mysql/ rsync://davidayson8@backup/mysql
{% endif %}
