[Unit]
Description=Bind Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/prometheus-bind-exporter --web.listen-address=":9119"
User=bind_exporter
Group=bind_exporter
Restart=always

[Install]
WantedBy=multi-user.target
