acl corpnets {
	{{ localnet }};
	{{ localhost }};
	{{ dockernet }};
};
options {
	directory "/var/cache/bind";

	forwarders { 
		{% for ip in dnsforwarders %}
			{{ ip }};
		{% endfor %}
	};
	
   	allow-query { corpnets; };
	dnssec-validation no;
	recursion yes;
	empty-zones-enable yes;

};

statistics-channels {
    inet 127.0.0.1 port 8053 allow { 127.0.0.1; };
};

key "transferkey" {
        algorithm hmac-sha256;
        secret "{{ transferkey_password }}";
};

key "nsupdatekey" {
        algorithm hmac-sha256;
        secret "{{ nsupdatekey_password }}";
};
