[Unit]
Description=Agama Client
Documentation=<FIXME>
After=network-online.target

[Service]
User=agama-client
ExecStart=/usr/local/bin/<FIXME>

[Install]
WantedBy=multi-user.target