[Unit]
Description=Agama Client
Documentation=https://github.com/hudolejev/agama
After=network-online.target

[Service]
User=agama-client
ExecStart=/usr/local/bin/agama-client

[Install]
WantedBy=multi-user.target
