global:
  scrape_interval: 5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: 'linux'
    static_configs:
      - targets:
        {% for host in groups['all'] %}
        - {{ host }}:9100
        {% endfor %}

  - job_name: 'prometheus'
    scrape_interval: 5s
    scrape_timeout: 5s
    metrics_path: '/prometheus/metrics'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'mysql'
    static_configs:
      - targets:
        {% for host in groups['db_servers'] %}
        - db{{ host | replace ('davidayson8','') }}:9104
        {% endfor %}

  - job_name: 'bind9'
    static_configs:
      - targets:
        {% for host in groups['dns_servers'] %}
        - ns{{ host | replace ('davidayson8','') }}:9119
        {% endfor %}

  - job_name: 'nginx'
    static_configs:
      - targets:
        {% for host in groups['web_servers'] %}
        - www{{ host | replace ('davidayson8','') }}:9113
        {% endfor %}

  - job_name: 'influxdb'
    static_configs:
      - targets:
      {% for host in groups['influxdb'] %}
        - influxdb:9424
      {% endfor %}

  - job_name: 'backup'
    static_configs:
      - targets:
        - {{ backup_server }}:9111
  
  - job_name: 'keepalived'
    static_configs:
      - targets:
        {% for host in groups['keepalived'] %}
          - {{ host }}:9165
        {% endfor %}

  - job_name: 'haproxy'
    static_configs:
      - targets:
        {% for host in groups['haproxy'] %}
          - lb{{ host | replace ('davidayson8','')  }}:9101
        {% endfor %}
